{% extends 'tiers/base.html' %}

{% block title %}
    View Team
{% endblock %}

{% block content %}
    <h2>Team Name: {{ team_name }}</h2>

    <table border = 1px cellpadding="5px">
        <tr>
            <th colspan="3" style="text-align:center">Roster
            </th>
        </tr>

        <tr>
            <td style="text-align:center"><b>Slot</b></td>
            <td style="text-align:center"><b>Player</b></td>
            <td style="text-align:center"><b>Tier</b></td>
        </tr>

        {% for key, value in roster.items %}
        <tr>
            <td>{{ value.lineup_slot }}</td>
            <td>{{ value.name }}</td>
            <td>{{ value.tier }}</td>
        </tr>
        {% endfor %}

    </table>

    <br><br>
    <h2>Available Free Agents</h2>
        {% for key, value in free_agents.items %}
        <p>
        <h2> {{ key }}</h2>

        <table border="1" cellpadding="5px">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Position</th>
                <th>Team</th>
                <th>Tier</th>
            </tr>

            {% for player_id in value %}
                <tr>
                {% for key, value in player_id.items %}

                    {% if key == 'tier' %}
                        <td>Tier {{ value }}</td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}

                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </p>

    {% endfor %}


{% endblock %}